---
// import Accessories from "../components/Accessories.astro";
// import HeroSection from "../components/HeroSection.astro";
// import LandingHeader from "../components/LandingHeader.astro";
// import ModelS from "../components/ModelS.astro";
// import ModelThree from "../components/ModelThree.astro";
// import ModelX from "../components/ModelX.astro";
// import ModelY from "../components/ModelY.astro";
// import PowerWall from "../components/PowerWall.astro";
import { Callout, CalloutProps,  } from "@tremor/react";
import { ExclamationIcon, CheckCircleIcon, InformationCircleIcon, XCircleIcon, ExclamationCircleIcon } from "@heroicons/react/solid";
import Layout from "../layouts/Layout.astro";

type Norma = {
  description: string;
  color: CalloutProps["color"];
  icon: any;
}

const normas: Norma[] = [
  {
    description: 'No se podrá ingresar elementos diferentes a los necesarios para la realización de las prácticas establecidas.',
    color: 'red',
    icon: XCircleIcon,
  },
  {
    description: 'No se debe consumir bebidas o ningún tipo de alimento dentro del laboratorio.',
    color: 'red',
    icon: XCircleIcon,
  },
  {
    description: 'El uso de la bata es obligatorio.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'La ropa y el calzado deben ser siempre adecuados y deben cubrir la mayor parte del cuerpo.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'Evitar el uso de accesorios o prendas como pulseras, relojes o anillos.',
    color: 'yellow',
    icon: ExclamationIcon,
  },
  {
    description: 'Es obligatorio el uso de los diferentes elementos de seguridad como gafas, guantes y máscaras, que protegen de los riesgos que puedan llegar a ocurrir.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Antes de hacer uso de cualquier sustancia, verificar las etiquetas y fichas de seguridad.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Al momento de almacenar sustancias, los envases siempre deben ser rotulados.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'No ingerir ninguna sustancia y en caso de contacto con la piel o con los ojos, proceder a retirar con abundante agua e informar a la persona encargada inmediatamente.',
    color: 'red',
    icon: ExclamationIcon,
  },
  {
    description: 'Al momento de almacenar sustancias, asegurarse de separar los no compatibles, los productos inflamables deben estar separados de los ácidos, bases y reactivos oxidantes, y los envases deben estar en un lugar donde no corran riesgo de caer y romperse.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'En caso de emergencia, conocer la ubicación de los extintores, duchas de emergencia, lavamanos de seguridad y rutas de evacuación.',
    color: 'sky',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Informar cualquier incidente o accidente que ocurra en el laboratorio a los docentes o encargados.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'Mantener el área de trabajo ordenada y limpia, recoger y desechar correctamente los residuos generados.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  
]
---

<Layout title="Sistema interno para el manejo de residuos peligrosos">
  <!-- <LandingHeader /> -->

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <section class="h-screen w-screen overflow-hidden relative">
        <div class="z-30 relative w-screen h-full flex flex-col">
          <header class="flex flex-grow justify-center items-end">
            <h2 class="text-center text-white text-6xl font-bold">SISTEMA INTERNO PARA EL MANEJO <br> DE <br> RESIDUOS PELIGROSOS</h2>
          </header>
          <footer class="flex flex-grow justify-end items-center flex-col mb-24">
            <div class="scrolldown" style="--color: skyblue">
              <div class="chevrons">
                  <div class="chevrondown"></div>
                  <div class="chevrondown"></div>
              </div>
          </div>
          </footer>
        </div>
        <div class="absolute top-0 bottom-0 w-full h-full z-10">
          <video class="object-center object-cover w-full h-full" autoplay muted loop src="/video.webm"></video>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="h-screen w-screen overflow-hidden relative container-intro">
        <div class="introduccion ">
          <div class="mt-5 md:mt-8 pb-14 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                INTRODUCCIÓN
              </h2>
            </header>
            <main class="p-5">
              <p>El correcto manejo de residuos peligrosos es una prioridad actualmente en cualquier lugar donde se generen, es un requisito de cada institución, organización, empresa, industria, entre otros contar con un desempeño solido en el control de los impactos de actividades, productos y servicios sobre el medio ambiente, de acuerdo con su política y objetivo ambiental. El manejo adecuado de los productos químicos residuales es un punto importante en la conservación de la naturaleza específicamente en la protección del aire, el agua y el suelo, de igual manera es crucial para preservar el bienestar físico de cada individuo. <br> Este sistema de manejo está destinado principalmente a guiar a las partes responsables a preservar su integridad física, las de los demás y la naturaleza que les rodea, a mitigar posibles accidentes dentro las instalaciones de los laboratorios, identificar los riesgos de un mal manejo de los residuos, tener claridad de los efectos de cada reactivo y su nivel de peligrosidad, todo esto amparado bajo el marco legal vigente del decreto 1076 2015, decreto 1496 de 2018 y la política ambiental de la universidad de Cartagena del del acuerdo N°6 del 22 de febrero de 2018. 
              </p>
            </main>
            <div class="md:w-48 md:mx-auto md:block hidden">
              <img src="/assets/img/intro.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="general">
          <div class="mt-5 md:mt-8 h-5/6 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                OBJETIVO GENERAL
              </h2>
            </header>
            <footer class="p-5">
              <p>Informar a cada individuo que haga uso de las instalaciones, sobre el protocolo de manejo de residuos peligrosos dentro del laboratorio de Ingeniería Química del Campus Piedra de Bolívar, con el fin de evitar riesgos y accidentes. </p>
            </footer>
          </div>
        </div>
        <div class="especificos">
          <div class="mt-5 md:mt-8 h-5/6 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                OBJETIVOS ESPECÍFICOS
              </h2>
            </header>
            <main class="p-5">
              <ol class="list-decimal list-inside space-y-2">
                <li>Identificar y caracterizar las sustancias y residuos que se generan dentro del laboratorio, para una correcta manipulación al momento de desecharlos.</li>
                <li>Comprender cada una de las etapas de la gestión de residuos: segregación, movimiento interno, almacenamiento y disposición final.</li>
                <li>Distinguir los espacios y elementos estipulados para el almacenamiento de desechos.</li>
                <li>Reconocer los diferentes pasos a seguir en caso de emergencia, según su origen.</li>
              </ol>              
            </main>
          </div>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 h-screen w-screen overflow-hidden">
        <h1 class="text-3xl text-center text-[#1843BF] font-bold mb-4">Normas básicas de seguridad a seguir dentro del laboratorio</h1>
        <p class="mb-8 text-center">Todas las normas mencionadas a continuación son importantes y se deben cumplir correctamente para evitar que ocurran accidentes dentro del laboratorio.</p>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4">
          {normas.map((norma) => (
            <Callout title='' icon={norma.icon} color={norma.color}>
              {norma.description}
            </Callout>
          ))}
        </div>
      </section>
      
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 h-screen w-screen overflow-hidden">
        <header>
          <h1 class="text-3xl text-center text-[#1843BF] font-bold mb-4">CLASIFICACIÓN Y ETIQUETADO DE RESIDUOS PELIGROSOS</h1>
          <p class="mb-8 text-center">Los residuos generados en los laboratorios se clasifican en diversas categorías dependiendo de su peligrosidad y su naturaleza. A continuación, se puede observar la clasificación y respectiva etiqueta de los residuos más comunes generados en laboratorios químicos, a los cuales se les ha asignado una etiqueta con un color específico para cada uno de ellos, con el fin de poder diferenciarlos con mayor facilidad</p>
        </header>

        <div class="max-w-7xl mx-auto">
          <table>
            <thead>
              <tr>
                <th>Compuesto químico</th>
                <th>Observaciones</th>
                <th>Etiqueta</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>Disolventes halogenados</td>
                <td>Líquidos orgánicos que contienen más de 2% de halógenos. Eje: cloruro de metileno</td>
                <td style="background-color: orange;"></td>
              </tr>
              <tr>
                <td>Disolventes no halogenados</td>
                <td>Líquidos orgánicos inflamables que contengan menos de 2% de halógenos. Evitar mezclar disolventes que sean inmiscibles. Eje: alcoholes, aldehídos, amidas, cetonas, esteres, nitrilos, glicoles, hidrocarburos alifáticos y aromáticos</td>
                <td style="background-color: green;"></td>
              </tr>
              <tr>
                <td>Disoluciones acuosas</td>
                <td>Soluciones acuosas básicas: NaOH, KOH soluciones acuosas de metales pesados Ni, Ag, Cd, Se soluciones acuosas inorgánicas son: sulfatos, fosfatos, cloruro soluciones orgánicas: formol, fenol</td>
                <td style="background-color: blue;"></td>
              </tr>
              <tr>
                <td>Ácidos</td>
                <td>Líquidos con ácido inorgánicos como HCL, HF, HNO3, etc. Precaución con mezclar los ácidos entre sí ya que son muy reactivos</td>
                <td style="background-color: red;"></td>
              </tr>
              <tr>
                <td>Bases</td>
                <td>Soluciones básicas. Ej: Hidróxido sódico (sosa), Hidróxido potásico, etc.</td>
                <td style="background-color: brown;"></td>
              </tr>
              <tr>
                <td>Aceites</td>
                <td>Aceites minerales</td>
                <td style="background-color: yellow;"></td>
              </tr>
              <tr>
                <td>Sólidos</td>
                <td>Productos orgánicos e inorgánicos y material desechable contaminado con productos químicos</td>
                <td></td>
              </tr>
              <tr>
                <td>Especiales</td>
                <td>Reactivos puros obsoletos o vencidos. Ej: comburentes, magnesio, metálicos en polvo, cloruro de ácidos, metales alcalinos, hidruros, entre otros</td>
                <td style="background-color: purple;"></td>
              </tr>
            </tbody>
          </table>          
        </div>

      </section>
    </div>
    <div class="snap-center">
      <section>
        <h1>6.	PICTOGRAMAS DE PELIGROS</h1>
        <p>Los pictogramas de peligro químico son símbolos gráficos utilizados para indicar los riesgos asociados al uso de sustancias químicas. Estos pictogramas se utilizan en los envases de sustancias o mezclas químicas con el fin de advertir a los usuarios sobre los peligros físicos y los riesgos para la salud que pueden presentar</p>
      </section>
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
  </main>
</Layout>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }

  .title{
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(180deg, #A6F71B, #309409);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: -0.015em;
  }

  .scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.container-intro {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 30px; 
  grid-template-areas: 
    "introduccion general"
    "introduccion especificos"
    "introduccion especificos"; 
}
.general { grid-area: general; }
.introduccion { grid-area: introduccion; }
.especificos { grid-area: especificos; }
</style>