---
// import Accessories from "../components/Accessories.astro";
// import HeroSection from "../components/HeroSection.astro";
// import LandingHeader from "../components/LandingHeader.astro";
// import ModelS from "../components/ModelS.astro";
// import ModelThree from "../components/ModelThree.astro";
// import ModelX from "../components/ModelX.astro";
// import ModelY from "../components/ModelY.astro";
// import PowerWall from "../components/PowerWall.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - El coche de tus sueños (y de Elon Musk)">
  <!-- <LandingHeader /> -->

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
	<h1>
		Hello
	</h1>
    <div class="snap-center">
      <section>
        <div>
          <h1>Introducción</h1>
          <div>
            <p>El correcto manejo de residuos peligrosos es una prioridad actualmente en cualquier lugar donde se generen, es un requisito de cada institución, organización, empresa, industria, entre otros contar con un desempeño solido en el control de los impactos de actividades, productos y servicios sobre el medio ambiente, de acuerdo con su política y objetivo ambiental. El manejo adecuado de los productos químicos residuales es un punto importante en la conservación de la naturaleza específicamente en la protección del aire, el agua y el suelo, de igual manera es crucial para preservar el bienestar físico de cada individuo. <br> Este sistema de manejo está destinado principalmente a guiar a las partes responsables a preservar su integridad física, las de los demás y la naturaleza que les rodea, a mitigar posibles accidentes dentro las instalaciones de los laboratorios, identificar los riesgos de un mal manejo de los residuos, tener claridad de los efectos de cada reactivo y su nivel de peligrosidad, todo esto amparado bajo el marco legal vigente del decreto 1076 2015, decreto 1496 de 2018 y la política ambiental de la universidad de Cartagena del del acuerdo N°6 del 22 de febrero de 2018. 
            </p>
          </div>
        </div>
        <div>
          <div>
            <h2>OBJETIVO GENERAL</h2>
            <p>Informar a cada individuo que haga uso de las instalaciones, sobre el protocolo de manejo de residuos peligrosos dentro del laboratorio de Ingeniería Química del Campus Piedra de Bolívar, con el fin de evitar riesgos y accidentes. </p>
          </div>
          <div>
            <h2>OBJETIVOS ESPECÍFICOS</h2>
            <ol>
              <li>Identificar y caracterizar las sustancias y residuos que se generan dentro del laboratorio, para una correcta manipulación al momento de desecharlos.</li>
              <li>Comprender cada una de las etapas de la gestión de residuos: segregación, movimiento interno, almacenamiento y disposición final.</li>
              <li>Distinguir los espacios y elementos estipulados para el almacenamiento de desechos.</li>
              <li>Reconocer los diferentes pasos a seguir en caso de emergencia, según su origen.</li>
            </ol>
          </div>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section>
        <h1>
          4.	NORMAS BASICAS DE SEGUIRIDAD A SEGUIR DENTRO DEL LABORATORIO
        </h1>
        <p> Todas las normas mencionadas a continuación son importantes y se deben cumplir correctamente, para evitar que ocurran accidentes dentro del laboratorio.</p>
        <ol>
          <li>No se podrá ingresar elementos diferentes a los necesarios para la realización de las prácticas establecidas.</li>
          <li>No se debe consumir bebidas o ningún tipo de alimento dentro del laboratorio.</li>
          <li>El uso de la bata es obligatorio.</li>
          <li>La ropa y el calzado deben ser siempre adecuados y deben cubrir la mayor parte del cuerpo.</li>
          <li>Evitar el uso de accesorios o prendas como pulseras, relojes o anillos.</li>
          <li>Es obligatorio el uso de los diferentes elementos de seguridad como gafas, guantes y máscaras, que protegen de los riesgos que puedan llegar a ocurrir.</li>
          <li>No disponer de los equipos para un uso diferente al de las prácticas establecidas.</li>
          <li>No utilizar los equipos sin la autorización de los docentes o encargados del laboratorio.</li>
          <li>Antes de hacer uso de cualquier sustancia, verificar las etiquetas y fichas de seguridad.</li>
          <li>Al momento de almacenar sustancias, los envases siempre deben ser rotulados.</li>
          <li>Realizar el correcto almacenamiento de cada sustancia al finalizar cada práctica.</li>
          <li>No ingerir ninguna sustancia y en caso de contacto con la piel o con los ojos, proceder a retirar con abundante agua e informar a la persona encargada inmediatamente.</li>
          <li>Al momento de almacenar sustancias, asegurarse de separar los no compatibles, los productos inflamables deben estar separados de los ácidos, bases y reactivos oxidantes, y los envases deben estar en un lugar donde no corran riesgo de caer y romperse.</li>
          <li>Siempre verificar que los objetos de vidrio no estén rotos.</li>
          <li>Preparar con anticipación el stock de productos que se va a necesitar para cada práctica; es importante extraer solo lo necesario de cada recipiente y no devolver el producto a este en caso de que haya un sobrante.</li>
          <li>No dejar destapados los frascos ni inhalar su contenido. Algunas sustancias líquidas emiten vapores que, al inhalarlos, podrían ser tóxicos.</li>
          <li>Al finalizar cada práctica, el área de trabajo debe quedar totalmente despejada y limpia.</li>
          <li>Reconocer el protocolo de seguridad y todas las salidas de emergencia.</li>
        </ol>
        
      </section>
    </div>
    <div class="snap-center">
      <section>
        <h1>5.	CLASIFICACIÓN Y ETIQUETADO DE RESIDUOS PELIGROSOS</h1>

        <p>Los residuos generados en los laboratorios se clasifican en diversas categorías dependiendo de su peligrosidad y su naturaleza. A continuación, se puede observar la clasificación y respectiva etiqueta de los residuos más comunes generados en laboratorios químicos, a los cuales se les ha asignado una etiqueta con un color específico para cada uno de ellos, con el fin de poder diferenciarlos con mayor facilidad</p>

        <div>
          <table>
            <thead>
              <tr>
                <th>Compuesto químico</th>
                <th>Observaciones</th>
                <th>Etiqueta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Disolventes halogenados</td>
                <td>Líquidos orgánicos que contienen más de 2% de halógenos. Eje: cloruro de metileno</td>
                <td style="background-color: orange;"></td>
              </tr>
              <tr>
                <td>Disolventes no halogenados</td>
                <td>Líquidos orgánicos inflamables que contengan menos de 2% de halógenos. Evitar mezclar disolventes que sean inmiscibles. Eje: alcoholes, aldehídos, amidas, cetonas, esteres, nitrilos, glicoles, hidrocarburos alifáticos y aromáticos</td>
                <td style="background-color: green;"></td>
              </tr>
              <tr>
                <td>Disoluciones acuosas</td>
                <td>Soluciones acuosas básicas: NaOH, KOH soluciones acuosas de metales pesados Ni, Ag, Cd, Se soluciones acuosas inorgánicas son: sulfatos, fosfatos, cloruro soluciones orgánicas: formol, fenol</td>
                <td style="background-color: blue;"></td>
              </tr>
              <tr>
                <td>Ácidos</td>
                <td>Líquidos con ácido inorgánicos como HCL, HF, HNO3, etc. Precaución con mezclar los ácidos entre sí ya que son muy reactivos</td>
                <td style="background-color: red;"></td>
              </tr>
              <tr>
                <td>Bases</td>
                <td>Soluciones básicas. Ej: Hidróxido sódico (sosa), Hidróxido potásico, etc.</td>
                <td style="background-color: brown;"></td>
              </tr>
              <tr>
                <td>Aceites</td>
                <td>Aceites minerales</td>
                <td style="background-color: yellow;"></td>
              </tr>
              <tr>
                <td>Sólidos</td>
                <td>Productos orgánicos e inorgánicos y material desechable contaminado con productos químicos</td>
                <td></td>
              </tr>
              <tr>
                <td>Especiales</td>
                <td>Reactivos puros obsoletos o vencidos. Ej: comburentes, magnesio, metálicos en polvo, cloruro de ácidos, metales alcalinos, hidruros, entre otros</td>
                <td style="background-color: purple;"></td>
              </tr>
            </tbody>
          </table>          
        </div>

      </section>
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
  </main>
</Layout>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }
</style>